body,ul{
    margin: 0px;
}
nav{
    background-color: rgb(206, 181, 252);
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: rgb(255, 255, 193);
    padding: 10px;
}
nav a:hover{
    background-color: rgb(255, 255, 193);
    color: rgb(206, 181, 252);
    transition: backgroun-color 1s linear,color 1s ease-in-out;
}