body{
    margin: 0;
    padding: 0;
}
#menu {
	height:30px;
	text-align: center;
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
}
#menu ul {
	background-color: rgb(252, 215, 215);
}
#menu ul li a {
	color:rgb(47, 47, 92);
	text-decoration:none;
	line-height: 30px;
}
#menu ul li ul {
	background:#fdc6c6;
}
#menu ul li ul li a {
	font-size:0.8em;
	color:rgb(47, 47, 92);
	text-decoration:none;
}
#menu ul li:hover, #menu ul li a:hover {
	background:#e7c1c1;
}
#menu ul li:hover a {
	color:rgb(47, 47, 92);
}
#menu ul li ul li:hover, #menu ul li ul li a:hover {
	background:#cf9b9b;
}
#menu ul li a:hover{
    background-color: rgb(228, 167, 167);
    color: rgb(47, 47, 92);
    transition: background-color 1s linear,color 1s ease-in-out;
}
#menu ul li ul a:hover{
    background-color: rgb(228, 167, 167);
    color: rgb(47, 47, 92);
    transition: background-color 1s linear,color 1s ease-in-out;
}
#menu ul li ul li a:hover{
    background-color: rgb(228, 167, 167);
    color: rgb(47, 47, 92);
    transition: background-color 1s linear,color 1s ease-in-out;
}
#menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
    overflow:auto;
}
#menu ul li {
	float:left;
}
#menu ul li a {
	display:block;
	float:left;
	height:30px;
	width: 100px;
	text-align: center;
}
#menu ul li ul {
	position:absolute;
	width:100px;
	overflow:visible;
	clear:left;
	margin-top: 30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#menu ul li ul li {
	float:none;
	text-align: center;
}
#menu ul li ul li a {
	float:none;
	width: 100%;
}
#menu ul li ul li ul {
	margin-top: -30px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 100px;
	width: 100%;
}
#menu ul li ul {
	visibility:hidden;
}
#menu ul li:hover ul {
	visibility:visible;
}
#menu ul li:hover ul li ul {
	visibility:hidden;
}
#menu ul li ul li:hover ul {
	visibility:visible;
}
#menu ul li ul li:hover ul li ul {
	visibility:hidden;
}
#header img{
    width: 100%;
}
main{
    padding: 20px;
}
h1{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted rgb(228, 167, 167);
    border-left: 10px solid rgb(228, 167, 167);
    color: rgb(47, 47, 92);
    border-radius: 5px 0 0 5px;
    text-align: left;
    font-size: 35px;
}