.all{
    text-align: center;
    padding-top: 14vh;
}
.a{
    font-size: 70px;
    color: rgb(30, 37, 80);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(58, 57, 57);
}
h2{
    font-size: 45px;
    color: rgb(253, 62, 62);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(58, 57, 57);
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffffb0;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}  
.button span {
    color:rgb(30, 37, 80);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}