body{
    background-color: #fdfcea;
}
header{
    background-color: #CEDFFF;
    text-align: center;
    line-height: 15px;
}
main{
    background-color: #D6FFFF;
}
footer{
    background-color: #FFE0E8;
    text-align: center;
    clear: both;
}
img{
    border-radius: 30px;
}
h1{
    font-size: 250%;
}
.h{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #85c9f0;
    border-left: 10px solid #7a9ac4;
    color: #000000;
    border-radius: 5px 0 0 5px;
    text-align: left;
}
body{
    background-size: 50px 70px;
}
#container {
    margin: 0 auto;
    width: 85%;
}
.td{
    height: 30px;
}
.hr{
    size:2px;
    color:black;
}
.td2{
    font-size: 20px;
    height: 20px;
}
.td3{
    color: #222222;
    width:260px;
    height: 60px;
}
.td4{
    color: #222222;
    width:200px;
    height: 60px;
}
.td5{
    height: 30px;
    text-align: center;
}
.td6{
    color: #222222;
    width:260px;
    height: 100px;
    vertical-align:text-top;
    text-align:justify;
    text-justify: distribute;
}
.table{
    text-align: left;
    padding: 15px;
    float: left;
}
.section{
    background-color: #D6FFFF;
    width: 100%;
    float: left;
}
.s1{
    height: 200px;
}
.s2{
    height: 650px;
}
.s3{
    height: 1800px;
}
