body{
    background-color: #fffddf;
    margin: 0;
}
header{
    background-color: #CEDFFF;
    text-align: center;
    line-height: 15px;
}
main{
    background-color: #D6FFFF;
}
footer{
    background-color: #FFE0E8;
    text-align: center;
    clear: both;
}
img{
    border-radius: 30px;
}
h1{
    font-size: 250%;
}
.h{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #85c9f0;
    border-left: 10px solid #7a9ac4;
    color: #000000;
    border-radius: 5px 0 0 5px;
    text-align: left;
}
body{
    background-size: 50px 70px;
}
#container {
    margin: 0 auto;
    width: 85%;
}
.td{
    height: 30px;
}
.hr{
    size:2px;
    color:black;
}
.td2{
    font-size: 20px;
    height: 20px; 
    text-decoration: none;
    color: #000000;
}
.mail{
    text-decoration: none;
    color: #000000;
}
main a:hover{
    text-decoration:underline;
    background-color:#D6FFFF;
    color:rgb(250, 117, 139);
    text-decoration: none;
}
header a:hover{
    text-decoration:underline;
    background-color:#CEDFFF;
    color:rgb(80, 184, 175);
    text-decoration: none;
}
.td1{
    font-size: 20px;
    height: 20px;
}
.td3{
    color: #222222;
    width:260px;
    height: 60px;
}
.td4{
    color: #222222;
    width:200px;
    height: 60px;
}
.td5{
    height: 30px;
    text-align: center;
}
.td6{
    color: #222222;
    width:260px;
    height: 100px;
    vertical-align:text-top;
    text-align:justify;
    text-justify: distribute;
}
.table{
    text-align: left;
    padding: 15px;
    float: left;
}
.section{
    background-color: #D6FFFF;
    width: 100%;
    float: left;
}
.s1{
    height: 250px;
}
.s2{
    height: 750px;
}
.s3{
    height: 1900px;
}
nav{
    background-color: rgb(174, 232, 250);
    text-align: right;
}
nav ul{
    margin: 0px;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    
}
nav li a:hover{
    background-color: rgb(221, 252, 244);
    color: rgb(49, 69, 158);
    transition: background-color 1s linear,color 1s ease-in-out;
}
.p{
    font-size: 20px;
    line-height: 28px;
}
.p2{
    line-height: 25px;
    color: #363636;
}
.p3{
    font-size: 20px;
}